/node_modules
/*.env
npm-debug.log
.DS_Store
/templates
# Local Netlify folder
.netlify
/dist
/coverage
report.html
.idea 

*.properties
*.lock
*.bin
*.lock
*.lock
*.properties
*.json
*.lock
*.properties
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle